@model PROMPERU.AULAVIRTUAL.WEB.ViewModel.Course._DeleteCursoOnlineViewModel
@{
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.ModalClass = "";
    //ViewBag.ModalClass = "stick-up";
    ViewBag.ModalDialogClass = "modal-md";
    ViewBag.Form = new ModalFormHelpers("_DeleteCursoOnline", "Course", FormMethod.Post);
    //ViewBag.Icon = "fa fa-circle";
    //ViewBag.Title = Model.CursoOnlineId;
    ViewBag.DeshabilitarCerrarFooter = true;

}
<div class="form-group-attached text-center">
    <br />
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.CursoOnlineId)
    

    <h2>¿Desea eliminar el curso seleccionado?</h2>

</div>

@section Footer{
    <!--<button class="btn btn-info pull-left" type="submit"><i class="fa fa-floppy-o"></i>&nbsp;Guardar Disponibilidad</button>-->

    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 align-self-center">
            <div class="form-group form-group-default input-group">
                <button class="btn btn-guardar-matricula pull-center text-btn-generico" type="submit">SI</button>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 align-self-center">
            <div class="form-group form-group-default input-group">
                <!--<a class="btn btn-cancelar pull-center text-btn-generico" href="@Url.Action("ListCursoOnlineAdmin", "Course")">NO</a>-->
                <a class="btn btn-cancelar pull-center text-btn-generico" data-dismiss="modal" href="#">NO</a>
            </div>
        </div>
    </div>

}