    <!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div><img src="@Url.Content("~/Content/landing/img/mincentur-logo.png")" alt=""></div>
                    <div class="form-group fg">
                        <label for="">
                            La Comisión de Promoción de Perú para la Exportación y el Turismo - PROMPERÚ
                            es un organismo técnico especializado con personería jurídica de derecho
                            público interno que goza de autonomía funcional, técnica, económica, financiera, presupuestal y administrativa.
                            Se encuentra adscrita al Ministerio de comercio Exterior y Turismo y constituye un pliego.
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="" class="lb-link">Links</label>
                <div class="form-group fg">
                    <li><a href="">Perú Info</a></li>
                    <li><a href="">PROMPERÚ</a></li>
                    <li><a href="">SIICEX</a></li>
                    <li><a href="">Ministerio de Comercio </br> Exterior y Turismo </a></li>
                </div>
            </div>
            <div class="col-md-3">
                <label for="" class="lb-link">Información de Contacto</label>
                <div class="form-group fg">
                    <p>Av. Jorge Basadre 610 , San Isidro</p>
                    <p>(+51) 616-7400 Ext.3109</p>
                    <a href="#aulavirtual@promperu.gob.pe">aulavirtual@promperu.gob.pe</a>
                </div>
            </div>
        </div>
        </br>
        <div class="row ft2">
            <div class="col-md-2"><a href="#">&copy;2019 PROMPERÚ</a></div>
            <div class="col-md-8 ft-col">
                <a href="#">PREGUNTAS FRECUENTES</a>
                <a href="#" style="margin-left: 3em;">PRIVACIDAD</a>
                <a href="#" style="margin-left: 3em;">TERMINO & CONDICIONES</a>
            </div>
            <div class="col-md-2 ft3">
                <a href="#"><img src="@Url.Content("~/Content/landing/img/facebook.svg")" alt=""></a>
                <a href="#"><img src="@Url.Content("~/Content/landing/img/instagram.svg")" alt=""></a>
                <a href="#"><img src="@Url.Content("~/Content/landing/img/twitter.svg")" alt=""></a>
            </div>

        </div>
    </div>
</footer>