        <div class="cf-user-profile-header cf-user-profile-header--general">
            <div class="cf-user-profile-header__top" data-toggle="collapse" data-target="#collapseUserProfileHeader" aria-expanded="false" aria-controls="collapseUserProfileHeader">
                                    @*
                                        cf-avatar--0
                                        cf-avatar--1
                                        cf-avatar--2
                                        cf-avatar--3
                                        cf-avatar--4
                                        cf-avatar--5
                                        cf-avatar--6
                                        cf-avatar--7
                                        cf-avatar--8
                                        cf-avatar--9
                                    *@
                <div class="cf-avatar cf-avatar--0"></div>
                <span class="text">Fernando De La Torrre</span>
                <span class="cf-arrow"></span>
            </div>
            <div class="cf-user-profile-header__section-container collapse" id="collapseUserProfileHeader">
                <div class="cf-user-profile-header__section">
                    <div class="cf-user-profile-header__blocks">
                        <div class="cf-user-profile-header__block">
                            <div class="cf-user-profile-header__block-left">
                                <img src="/Content/pages/img/type-empresa.png" class="icon-library">
                            </div>
                            <div class="cf-user-profile-header__block-right">
                                <span class="title">Tipo de emprendedor <img data-toggle="tooltip" data-placement="right" title="Tooltip on right" class="info" src="/Content/pages/img/icon-alert.png"></span>
                                <span class="business">Empresa Nueva SAC</span>
                            </div>
                        </div>
                        <div class="cf-user-profile-header__block">
                            <div class="cf-user-profile-header__block-left">
                                <img src="/Content/pages/img/icon-libros.png" class="icon-library">
                                <span class="number">14</span>
                            </div>
                            <div class="cf-user-profile-header__block-right">
                                <span class="title">Cursos maestros <img data-toggle="tooltip" data-placement="right" title="Tooltip on right" class="info" src="/Content/pages/img/icon-alert.png"></span>
                                <div class="cf-progress-box">
                                    @*
                                        Cambiar el valor del value al porcentaje necesario
                                    *@
                                    <div class="cf-progress-bar" style="--value: 30%"></div>
                                    <span class="cf-indicator">14/30</span>
                                </div>
                                @*
                                    cf-medals--bronze   <-- Esta clase para la medalla de bronce
                                    cf-medals--silver   <-- Esta clase para la medalla de plata
                                    cf-medals--gold     <-- Esta clase para la medalla de oro

                                                            Usar aquí
                                                                v
                                                                v
                                *@
                                <div class="cf-medals cf-medals--silver">
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__more">+</span>
                                </div>
                            </div> 
                        </div>
                        <div class="cf-user-profile-header__block">
                            <div class="cf-user-profile-header__block-left">
                                <img src="/Content/pages/img/icon-library.png" class="icon-library">
                                <span class="number">08</span>
                            </div>
                            <div class="cf-user-profile-header__block-right">
                                <span class="title">Cursos <img data-toggle="tooltip" data-placement="right" title="Tooltip on right" class="info" src="/Content/pages/img/icon-alert.png"></span>
                                <div class="cf-progress-box">
                                    @*
                                        Cambiar el valor del value al porcentaje necesario
                                    *@
                                    <div class="cf-progress-bar" style="--value: 30%"></div>
                                    <span class="cf-indicator">14/30</span>
                                </div>
                                <div class="cf-medals cf-medals--bronze">
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__medal"></span>
                                    <span class="cf-medals__more">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cf-user-profile-header__alert">
                        <div class="cf-left"><img src="/Content/pages/img/book.png"></div>
                        <div class="cf-right">
                            <strong>¡Te falta terminar un curso!</strong>
                            <span>Alcanza la excelencia lo antes posible</span>
                            <a href="#">Click aquí ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
